.linen {
    padding: 100px;
    margin: 100px;
    display: flex;
    justify-content: center;
}

.linet {
    margin-right: 100px;

}

p {
    display: flex;
    justify-content: center;
    padding-right: 25px;

}