.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;

}

.header {
    margin-left: 375px;
    border: 2px solid black;
    height: 100px;
    width: 570px;
    background-color: lightgreen;


}

.center {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 358px;
    column-gap: 15px;


}

.menu {
    border: 2px solid black;
    height: 300px;
    width: 150px;
    background-color: pink;


}
.post{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    height: 300px;
    width: 400px;
}

.post_top {
    border: 2px solid black;
    height: 200px;
    width: 400px;
    background-color: cornflowerblue;

}
.post_bottom {
    border: 2px solid black;
    height: 200px;
    width: 400px;
    background-color: cornflowerblue;

}

.footer {
    margin-left: 375px;
    border: 2px solid black;
    height: 100px;
    width: 570px;
    background-color: lightgreen;

}